body {
    width: 100vw;
    height: 100vh;
}

h2 {
    margin: 40px auto;
    text-align: center;
}

.block {
    width: 400px;
    height: 400px;
    border: 10px solid plum;
    margin: 20px auto;
    text-align: center;
    line-height: 150px;
    font-size: 10px;
}

.coords-block {
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

.coords-page {
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}